{erl_opts,
 [{platform_define, "^(R|17|18)", pre19},
  {platform_define, "^(R|17)", pre18},
  %bin_opt_info,
  debug_info,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors]}.

{deps, []}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions]}.
